.wrapper {
  background-color: white;
  display: flex;
  align-items: center;
  padding: 50px 0;
}

.form {
  background-color: $light-gray;
}

#banner-height {
  height: 400px;
  background-position: center;
}


.header-flat-details {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}

.img-small {
  width: 80px;
  margin: 10px;
}

.flat-details {
  padding: 30px;
  display: flex;
  margin-left: 30px;
  p {
    font-size: 15px;
  }

}

.owner {
  color: rgba(0, 0, 0, 0.5);
}

.flat-info {
  margin: 25px;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 0px 25px;
  h1 {
    font-size: 20px;
    color: black;
  }
}

form {
  padding: 25px;
}

.reduce-banner-height {
  height: 400px;
  background-image: cover;
}
